/*---------------- Base Style 320px ---------------*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-header {
    font-size: 2em;
}

.header, 
.nav {
  display: flex;
  flex-direction: column;
  padding: 1em 0 1em 0;
}

.header-img {
  align-self: center;
  width: 75%;
  padding: 1em;
}

.project-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1em;
}

.nav {
    margin-bottom: 2em;
}

.nav a {
  display: block;
  font-size: 1.15em;
  font-weight: 300;
  text-align: center;
  padding:.51em;
  border-bottom: 1px dotted goldenrod;
  border-width: thin;
} 

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 1.2px;
    color: #999;
    background: #0d1d29;
}

h1 {
  font-family: 'Metal Mania', cursive;
  font-size: 2.5em;
  color: hotpink;
  padding-top: 1em;
  letter-spacing: .5px;
  text-transform: capitalize;
}

  h2,
  h3 {
    font-family: 'Metal Mania', cursive;
    letter-spacing: .5px;
    font-size: 2em;
    text-transform: capitalize;
  }

  h3 {
      padding-bottom: .5em;
  }
  

  h4 {
    font-family: 'Metal Mania', cursive;
  }

  .main-section {
      background-color: #00111f;
      margin-bottom: 1em;
  }


  p {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    padding-bottom: 20px;
    padding-top: 5px;
  }

  section[class^="container"] {
      border: solid 1px lightgray;
      border-radius: 5%;
      letter-spacing: 1px;
      box-shadow: inset 2px 0px 2px 2px goldenrod;

  }

  .container-1 {
    margin-bottom: 1.5em;
  }


a {
 color: #999;
}

a:hover {
    color: #3f78ce;
    cursor: pointer;
  }
  
  h4:nth-child(-n+1) {
      color: hotpink;
  }

  li {
      list-style-type: none;
  }

  .footer-name,
  .b-top {
      display: inline-flex;
      padding-top: 3em;
      padding-bottom: 2em;
  }

  .footer-name {
      padding-right: 50%;
  }
  
  .footer-nav {
      display: none;
  }
  



  /*------------------ Media Query 768px -------------------*/

  @media (min-width: 768px) {

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

  }


















   /*------------------ Clearfix -------------------*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}




