/* Base Style for Mobile First */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header {
    font-size: 2em;
}

.header, .nav {
  display: flex;
  flex-direction: column;
  padding: 1em 0 1em 0;
}

.header-img {
  align-self: center;
}

.project-img {
  display: flexbox;
  flex-direction: row;
  width: 75%;
}

.nav a {
  display: block;
  font-size: 1.15em;
  font-weight: 300;
  text-align: center;
  padding: .35em;
  border-bottom: 1px dotted goldenrod;
} 

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #999;
    background: #0d1d29;
}

h1 {
  font-family: cursive;
  font-size: em;
  padding-bottom: 15px;
  letter-spacing: .5px;
  text-transform: capitalize;
}

  h2,
  h3 {
    font-family: cursive;
    letter-spacing: .5px;
    font-size: 2em;
    text-transform: capitalize;
  }
  

  h4 {
    font-family: fantasy;
  }


  p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
    padding-top: 5px;
  }

  section[class^="container"] {
      border: solid 1px lightgray;
      border-radius: 5%;
      box-shadow: inset 2px 0px 4px 2px goldenrod;

  }

  .container-1 {
    margin-bottom: 1.5em;
  }


footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

.footer-nav {
    display: none;
}

a {
 color: #999;
}

a:hover {
    color: #3f78ce;
    cursor: pointer;
  }
  
  .footer-name,
  .b-top {
      display: inline-flex;
      margin-top: 20px;
}

  .footer-name {
      padding-right: 35%;
      font-size: 1.3rem;
      margin-top: 5px;
  }

  h4:nth-child(-n+1) {
      color: hotpink;
  }

  
  

  /* Styles for Viewports Min Width 768px */

@media (min-width: 768px) {
    .nav {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5%;
    }

    .header-img {
        float: right;
        width: 45%;
        padding: 20px;
    }

    .intro {
        letter-spacing: 1.2px;
        font-size: 20px;
        padding-bottom: 20%;
        margin-top: 20px;
        padding-left: 5%;
        text-shadow: .5px .5px goldenrod;
        
    }

    .market,
    .travel,
    .photo {
        float: right;
        width: 50%;
        overflow: hidden;
        padding: 2%;
    }

    .search,
    .map,
    .calc {
        float: left;
        width: 50%;
        overflow: hidden;
        padding: 2%;
    }

    .container-1 {
        margin-top: 125%;
    }

    .footer-name,
    .footer-nav {
        display: inline; 
    }

    .footer-name {
        padding: 5%;
        float: left;
        width:45%;
    }

    .footer-nav {
        display: inline;
        padding: 5%;
        float: right;
        width: 45%;
        justify-content: space-between;
    }

    .b-top {
        display: none;
    }
}